.currency-exchange-item {
  display flex
  flex-direction row
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left 10px
  padding-right 10px
  height 100px
}

.currency-exchange-item-left-panel {
  flex-grow 0
  flex-basis 30%
}

.currency-exchange-item-right-panel {
  flex-basis 70%
  flex-grow 1
}

.separator {
  width 100%
  background-color #1976D2
  display flex
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #2195f3 transparent transparent transparent;
  background-color #1976D2
  margin-left 45%
}