.header-container {
  padding-top 20px
  display flex
}

.header-exchange-left-spacer {
  flex-grow 1
  flex-shrink 0
  flex-basis 33%
}

.header-exchange-rate-container {
  flex-grow 1
  flex-shrink 0
  display flex
  justify-content: center;
  flex-basis 33%
}

.header-exchange-rate {
  border 2px white solid
  border-radius 25px
  padding: 5px 20px
  width: 95px;
  display: inline-block;
  align-self center
}

.header-exchange-actions {
  flex-grow 1
  flex-shrink 0
  display flex
  justify-content flex-end
  flex-basis 33%
}

.header-exchange-button {
  align-self flex-end
}